@using PagedList.Mvc;
@model  PagedList.IPagedList< Micor.Remote.Model.ResModel>
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@foreach (var item in Model)
{
    @Html.ActionLink(item.Title, "ResDetail", "Home", new { id = item.f_id }, null)
    <br/>
}
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, pageIndex => Url.Action("About",
                               new { pageIndex = pageIndex, searchString = ViewBag.SearchString }))
