@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="header-area2">
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-8 col-xs-12">
                        <div class="logo">
                            <a href="index.html">
                                <img src="~/Content/assets/images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8 hidden-sm hidden-xs">
                        <div class="mainmenu text-right">
                            <ul id="navigation">
                                <li><a href="/">Home</a></li>
                                <li><a href="/Salary/index">Salary</a></li>
                                <li><a href="/Static/index">statistics</a></li>
                                <li><a href="/Home/Contact">Elastic1</a></li>
                                <li><a href="/ES6/index">Elastic2</a></li>
                                <li><a href="~/Html/Mark.html"  target="_blank">Mark</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-9">
                        @Html.Partial("_LoginPartial")
                    </div>
                    <div class="col-sm-1 clear col-xs-3 hidden-md hidden-lg">
                        <div class="responsive-menu-wrap floatright"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div >
        <div style="min-height:755px;">
            <div class="slider-area fix">
                <div class="slider-active next-prev-style">
                    <div class="slider-items">
                        <img src="~/Content/assets/images/slider/1.jpg" alt="" class="slider">
                        <div class="slider-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 col-sm-10 col-xs-12">
                                        <h2>We have all seo marketing of service for our customer</h2>
                                        <p>Promoting a site to increase the number of backlinks or inbound links another seo tactic by may 2015 mobile search had surpassed desktop search it was reported that google promoting.</p>
                                        <ul>
                                            <li><a href="/Salary/Index">my salary</a></li>
                                            <li><a href="/Static/Index">static now <i class="fa fa-long-arrow-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-items">
                        <img src="~/Content/assets/images/slider/2.jpg" alt="" class="slider">
                        <div class="slider-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 col-sm-10 col-xs-12">
                                        <h2>We have all seo marketing of service for our customer</h2>
                                        <p>Promoting a site to increase the number of backlinks or inbound links another seo tactic by may 2015 mobile search had surpassed desktop search it was reported that google promoting.</p>
                                        <ul>
                                            <li><a href="/Salary/Index">my salary</a></li>
                                            <li><a href="/Static/Index">static now <i class="fa fa-long-arrow-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-area">
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="copyright text-right">
                        <p>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- jquery latest version -->
    <script src="~/Content/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <!-- owl.carousel.2.0.0-beta.2.4 css -->
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <!-- counterup.main.js -->
    <script src="~/Content/assets/js/counterup.main.js"></script>
    <!-- isotope.pkgd.min.js -->
    <script src="~/Content/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope.pkgd.min.js -->
    <script src="~/Content/assets/js/isotope.pkgd.min.js"></script>
    <!-- jquery.waypoints.min.js -->
    <script src="~/Content/assets/js/jquery.waypoints.min.js"></script>
    <!-- jquery.slicknav.min.js -->
    <script src="~/Content/assets/js/jquery.slicknav.min.js"></script>
    <!-- jquery.magnific-popup.min.js -->
    <script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- jquery.particleground.min.js -->
    <script src="~/Content/assets/js/jquery.particleground.min.js"></script>
    <!-- wow js -->
    <script src="~/Content/assets/js/wow.min.js"></script>
    <!-- plugins js -->
    <script src="~/Content/assets/js/plugins.js"></script>
    <!-- main js -->
    <script src="~/Content/assets/js/scripts.js"></script>
</body>
</html>

